<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HuhnShares | Download</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <div class="form">
        <h1>413: File to big</h1>
        <p>
            We're sorry, but the file you want to upload has an invalid size. The size limit for uploading files is 2GB.
        </p>
    </div>
    <p>
        <a class="link" target="_blank" href="https://github.com/huhncares-cmd">GitHub</a>
        &bull;
        <a class="link" target="_blank" href="https://www.huhncares.de">huhncares.de</a>
    </p>
</body>
</html>