<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HuhnShares | FileTransfer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <form class="form" method="POST" enctype="multipart/form-data">
        <h1>HuhnShares</h1>
        <input id="drag" type="file" name="file" value="File" required>
        <label for="file">
            <p>
                <a class="bold">Drag and drop</a> file or <a class="bold">click</a> to select file and start the upload.
            </p>
        </label>
        <input type="submit" value="Upload" name="submit" class="btn">
        <b style="color: red; margin-top: 20px;">{{ error }}</b>
    </form>
    <p>
        <a class="link" target="_blank" href="https://github.com/huhncares-cmd">GitHub</a>
        &bull;
        <a class="link" target="_blank" href="https://www.huhncares.de">huhncares.de</a>
    </p>
</body>
</html>