{% extends "base.html" %}
{% block sub %}
FileTransfer
{% endblock %}
{% block content %}
<form class="form" method="POST" enctype="multipart/form-data">
    <h1>HuhnShares</h1>
    <input id="drag" type="file" name="file" value="File" required>
    <label for="file">
        <p>
            <a class="bold">Drag and drop</a> file or <a class="bold">click</a> to select file and start the upload.
        </p>
    </label>
    <input type="submit" value="Upload" name="submit" class="btn">
    <b style="color: red; margin-top: 20px;">{{ error }}</b>
</form>
{% endblock %}