{% extends "base.html" %}
{% block sub %}
Upload
{% endblock %}
{% block content %}
<div class="form">
    <h1>HuhnShares</h1>
    <b style="color: rgb(104, 184, 146);">File uploaded successfully!</b><br>
    <input class="input" id="dlLink" value="{{ link }}"></input>
    <button id="copyBtn" class="btn">Copy</button><br><br>
    <a style="color: rgb(104, 184, 146); font-weight: bold;" id="isCopied"></a>
</div>
{% endblock %}
{% block scripts %}
<script>
    var copyTextareaBtn = document.querySelector('#copyBtn');

    copyTextareaBtn.addEventListener('click', function(event) {
    var copyTextarea = document.querySelector('#dlLink');
    copyTextarea.focus();
    copyTextarea.select();

    try {
        var successful = document.execCommand('copy');
        document.querySelector("#isCopied").innerHTML = "Succesfully copied the link to your clipboard!";
    } catch (err) {
        console.log('Oops, unable to copy');
    }
    });
</script>
{% endblock %}